div {
    display: inline-flex;
    width: 200px;
    height: 200px;
    background-color: #009EFF;
    margin: 20px;
    border-radius: 5px;
    align-items: center;
    padding-left: 20px;
}

img {
    display: block;
}

span {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: 600;
    
}